#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: visible;
}

#wrapper.toggled {
    padding-left: 250px;
    overflow: scroll;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: visible;
}

#menu {
    margin-top: 10px;
}

.xyz {
    min-width: 360px;
    overflow: visible;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
}

.fixed-brand {
    width: auto;
}

.input-group {
    margin-bottom: 20px;
    margin-right: 20px;
}

.card-block {
    padding: 1.25rem;
}

.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, .125);
}

#layer-controls {
    vertical-align: top;
}
